<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLAN</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body class="container-fluid">
<header class="content-box-lg">
    <!--<div class="">-->
    <div class="content-box row">
        <span class="header-logo"><img class="w100" src="../../img/logo.png" alt=""></span>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">HOME</a></li>
                    <!--产品-->
                    <li class="">
                        <a href="../../view/products/product1.html" class="dropdown-toggle">PRODUCT</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/products/product1.html">LASER FORKLIFT</a></li>
                            <li><a href="../../view/products/product2.html">STAR SYSTEM</a></li>
                            <li><a href="../../view/products/product3.html">MINI AGV</a></li>
                            <!--<li><a href="view/products/product5.html">
                                PUBLIC
                                <br>
                                HARDWARE
                            </a></li>-->
                            <li><a href="../../view/products/product5.html">GRACE</a></li>
                        </ul>
                    </li>
                    <!--解决方案-->
                    <li class="active">
                        <a href="../../view/solution/solution.html">SOLUTION</a>
                    </li>
                    <!--服务中心-->
                    <li><a href="../../view/seve/serve.html">SERVICE</a></li>
                    <!--关于我们-->
                    <li class="">
                        <a href="#" class="dropdown-toggle">ABOUT GUOZI</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/aboutsus/about.html">COMPANY</a></li>
                            <li><a href="../../view/news/newList.html">NEWS</a></li>
                            <li><a href="../../view/contactus/contactUs.html">CONTACT US</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="search-logo"><img class="w100" src="../../img/search.png" alt=""></span>
            </div>
            <span class="search-logo1 visible-xs-block"><img class="w100" src="../../img/search.png" alt=""></span>
            <div id="search_div">
                <div class="search_input">
                    <img class="search_close" src="../../img/close.png" alt="">
                    <form id="myform" action="javascript:void(0)">
                        <input placeholder="search"  type="text">
                    </form>
                    <a href="../../view/search/search.html"><img src="../../img/search.png" alt=""></a>
                    <span class="visible-xs-inline-block search_close">cancel</span>
                </div>
                <div class="search_content"></div>
                <div class="search_bg visible-xs-block"></div>
            </div>
        </nav>
    </div>
    <!--</div>-->
</header>
<div class="content-box-lg">
    <div class="row bannebox" id="solution_banner" >
        <div class="pro1_bannner" >
            <img class="banner_bg visible-xs-block" src="../../img/sol_bannertu.png" alt="">
            <video id="video" class="hidden-xs" loop src="../../img/sol_banner.mp4"></video>
            <img  class="hidden-xs" id="sol_banner_bg" src="../../img/sol_bannerbg.png" alt="">
        </div>
        <div class="pro_bannertit">
            <!--<p class="tit">SOLUTION</p>-->
            <!--<p class="titsm">INDUSTRY EXPERT</p>-->
            <p class="tit_img"><b id="modal_Play"></b></p>
        </div>
        <div class="modal_bg">

        </div>
    </div>
</div>
<div class="content-box-lg">
    <div class="content-box pro1_middle ">
        <div class="row sol_con ">
            <!--<div class="pro1_middleTit sol_tit">E-commerce warehousing industry</div>-->
            <!--<div class="pro1_middleTit sol_tit" >System Architecture</div>-->
            <div class="pro1_middleTit sol_tit" >SYSTEM ARCHITECTURE</div>
            <img class="img-lg-100" src="../../img/sol_con2.png" alt="">
        </div>
    </div>
</div>
<div class="content-box pro1_middle sol_hover_div">
    <div class="row sol_con div_hover">
        <div class="pro1_middleTit sol_tit">BUSINESS  CASE</div>
        <a href="../../view/solution/solutionWarehouse.html">
            <img class="img-md-100" src="../../img/sol_show.png" alt="">

            <div>
                <h2>E-commerce warehousing industry</h2>
                <img src="../../img/yjiantou_r.png" alt="">
            </div>
            <p></p>
        </a>
        <a href="../../view/solution/solutionCar.html">
            <img class="img-md-100" src="../../img/sol_show1.png" alt="">
            <div class="hover_bottom">
                <h2>Auto industry</h2>
                <img src="../../img/yjiantou_r.png" alt="">
            </div>
            <p></p>
        </a>
    </div>
</div>
<footer class="content-box-lg">
    <!--<div class=" row">-->
    <!--<div class="foot_banner">
        <img class="w100" src="../../img/footer_banner.png" alt="">
        <div class="foot_logos">
            <h6>SHARE & LINK</h6>
            <ul>
                <li>
                    <p><img src="../../img/facebook_logo.png" alt=""></p>
                    Facebook
                </li>
                <li>
                    <p class="foot_border"><img src="../../img/guozi_logo.png" alt=""></p>
                    Chinese network
                </li>
                <li>
                    <p><img src="../../img/ins_logo.png" alt=""></p>
                    Ins
                </li>
            </ul>
        </div>
    </div>-->
    <div class="foot_message content-box-lg">
        <ul class="row content-box">
            <li class="col-md-3 col-xs-12 hidden-xs">
                <h6>PRODUCTS</h6>
                <p>
                    <a href="../../view/products/product2.html">Software System
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product1.html">Laser forklift
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product3.html">Suitable for parcel sorting — mini agv
                    </a>
                </p>
                <!--<p>Suitable for parcel sorting — mini agv</p>-->
                <!--<p>
                    <a href="../../view/products/productcon.html">Public Hardware
                    </a>
                </p>-->
                <p>
                    <a href="../../view/products/product5.html">GRACE
                    </a>
                </p>
            </li>
            <li class="col-md-5 col-xs-12">
                <h6>CONTACT US</h6>
                <p><img src="../../img/adress.png" alt="">Address：66 Dongxin Ave Building 4 Floor 5, Hangzhou, Zhejiang, China 310053</p>
                <p><img src="../../img/tel.png" alt="">Phone：（877）646-2030（Mon-Fri，8AM-5PM）</p>
                <p><img src="../../img/email.png" alt="">E-mail：robot@gzrobot.com</p>
            </li>
            <li class="col-md-4 col-xs-12 foot_bottom_r hidden-xs">
                <h6>RECENT POSTS</h6>
                <p>
                    <a href="../../view/news/newsContent.html">Vecna Robotics Partners with RightHand Robotics
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">Job Destroyers or Helpers? Amazon, FedEx Hiring More Robots & Human
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">FedEx Follows Amazon Into the Robotic Future
                    </a>
                </p>
            </li>
        </ul>
        <div class="content-box-lg foot_message_b">
            <div class="content-box ">
                Copyright © 2018. All rights reserved by Fetch Robotics, Inc. | Privacy Policy
            </div>
        </div>
    </div>

</footer>



<div id="modal_video_div">
    <div id="modal_video">
        <!--<div class="modal_head"></div>-->
        <video id="video1" controls src="../../img/sol_banner.mp4"></video>

    </div>
    <div class="modal_bg"></div>
</div>
</body>
</html>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/header.js"></script>

<script>
    var oVideo=$('#video')[0];
    var oVideo1=$('#video1')[0];
    var oTopDiv=$('#modal_video_div');
    var oTopVideoDiv=$('#modal_video');
    var bannerPlay=null;
    if(window.screen.width>=768){

        oVideo.play();

        function fTopPlay(){
            oVideo1.pause();
            oTopVideoDiv.removeClass('hover');
            setTimeout(function(){
                oTopDiv.css('display','none');
                oVideo.play();
            },100);
        }
        $('#modal_Play').click(function(){
            oVideo.pause();
            clearInterval(bannerPlay);
            bannerPlay=null;
            oTopDiv.css('display','block');
            setTimeout(function(){
                oTopVideoDiv.addClass('hover')
            },100)
        });
        $('#modal_video_div .modal_bg').click(fTopPlay);
        $(document).keyup(function(event){
            if(bannerPlay){
                return
            }
            if(event.keyCode==27||event.keyCode==96){
                fTopPlay()
            }
        });
    }else{
        $('#modal_Play').click(function(){
//            oVideo.pause();
//            clearInterval(bannerPlay);
//            bannerPlay=null;
//            oTopDiv.css('display','block');
//            setTimeout(function(){
//                oTopVideoDiv.addClass('hover')
//            },100)
            oVideo1.play()
        });
    }
</script>