<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMPANY</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header class="content-box-lg">
    <!--<div class="">-->
    <div class="content-box row">
        <span class="header-logo"><img class="w100" src="../../img/logo.png" alt=""></span>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">HOME</a></li>
                    <!--产品-->
                    <li class="">
                        <a href="../../view/products/product1.html" class="dropdown-toggle">PRODUCT</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/products/product1.html">LASER FORKLIFT</a></li>
                            <li><a href="../../view/products/product2.html">STAR SYSTEM</a></li>
                            <li><a href="../../view/products/product3.html">MINI AGV</a></li>
                            <!--<li><a href="view/products/product5.html">
                                PUBLIC
                                <br>
                                HARDWARE
                            </a></li>-->
                            <li><a href="../../view/products/product5.html">GRACE</a></li>
                        </ul>
                    </li>
                    <!--解决方案-->
                    <li>
                        <a href="../../view/solution/solution.html">SOLUTION</a>
                    </li>
                    <!--服务中心-->
                    <li class=""><a href="../../view/seve/serve.html">SERVICE</a></li>
                    <!--关于我们-->
                    <li class="active">
                        <a href="#" class="dropdown-toggle">ABOUT GUOZI</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/aboutsus/about.html">COMPANY</a></li>
                            <li><a href="../../view/news/newList.html">NEWS</a></li>
                            <li><a href="../../view/contactus/contactUs.html">CONTACT US</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="search-logo"><img class="w100" src="../../img/search.png" alt=""></span>
            </div>
            <span class="search-logo1 visible-xs-block"><img class="w100" src="../../img/search.png" alt=""></span>
            <div id="search_div">
                <div class="search_input">
                    <img class="search_close" src="../../img/close.png" alt="">
                    <form id="myform" action="javascript:void(0)">
                        <input placeholder="search"  type="text">
                    </form>
                    <a href="../../view/search/search.html"><img src="../../img/search.png" alt=""></a>
                    <span class="visible-xs-inline-block search_close">cancel</span>
                </div>
                <div class="search_content"></div>
                <div class="search_bg visible-xs-block"></div>
            </div>
        </nav>
    </div>
    <!--</div>-->
</header>
<div class="content-box-lg ">
    <div class="row bannebox">
        <div class="pro1_bannner"  >
            <a href=""><img src="../../img/about_banner.png" alt=""></a>
        </div>
        <div class="pro_bannertit">
            <!--<p class="tit">MOBILE ROBOTS</p>-->
            <!--<p class="titsm">CHANGE THE HUMAN LIFE</p>-->
            <p class="tit_img"><i></i></p>
        </div>
    </div>

    <div class="content-box-lg">
        <div class="about_conbox row">
            <div class="col-lg-6 col-md-12 col-sm-12 about_itemimg">
                <img src="../../img/about_show.png" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="about_item">
                    <h3>Focus on breakthrough innovation</h3>
                    <p class="about_detail">Zhejiang Guozi Robotics Co.,Ltd plays a leader role in mobile robots and robotic technology. Zhejiang Guozi Robotics holds the technical innovation as a fundamental drive all the time. It has developed an integrated technical system of mobile robots. It has formed a wide product variety that includes smart patrolling robot, smart logistic robot and smart manufacturing.</p>
                </div>
            </div>
        </div>
        <div class="about_conbox about_conbox1 row">
            <div class="col-lg-8 col-md-12 col-sm-12 ">
                <div class="about_item">
                    <h3>Providing the top robot technologies and best products and solutions in the world</h3>
                    <p class="about_detail">Our products are extensively applied in electrical power, railway, automobile, logistic and other industries vital in national economy. Zhejiang Guozi Robotics delivers high quality robot products and service, and receives a great return of performance or reputation.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 about_itemimg about_itemimg_r">
                <img src="../../img/about_show1.png" alt="" >
            </div>
        </div>

        <div class="about_footer">
            <img src="../../img/about_bg.png" alt="" class="w100">
            <div class="about_footercon">
                <h3>CONTACT INFORMATION</h3>
                <!--<p ><img src="../../img/adress.png" alt="">Address：<span>Eastem Commumications City Zone 4,5th Floor dongxin Road，Binjiang District，Hangzhou，Zhejiang，China</span></p>-->
                <p ><img src="../../img/adress.png" alt="">Address：<span>66 Dongxin Ave Building 4 Floor 5, Hangzhou, Zhejiang, China 310053</span></p>
                <p><img src="../../img/tel.png" alt="">Phone：<span>（877）646-2030（Mon-Fri，8AM-5PM）</span></p>
                <p ><img src="../../img/email.png" alt="">E-mail：<span>robot@gzrobot.com</span></p>
            </div>
        </div>
    </div>
</div>
<footer class="content-box-lg">
    <!--<div class=" row">-->
    <!--<div class="foot_banner">
        <img class="w100" src="../../img/footer_banner.png" alt="">
        <div class="foot_logos">
            <h6>SHARE & LINK</h6>
            <ul>
                <li>
                    <p><img src="../../img/facebook_logo.png" alt=""></p>
                    Facebook
                </li>
                <li>
                    <p class="foot_border"><img src="../../img/guozi_logo.png" alt=""></p>
                    Chinese network
                </li>
                <li>
                    <p><img src="../../img/ins_logo.png" alt=""></p>
                    Ins
                </li>
            </ul>
        </div>
    </div>-->
    <div class="foot_message content-box-lg">
        <ul class="row content-box">
            <li class="col-md-3 col-xs-12 hidden-xs">
                <h6>PRODUCTS</h6>
                <p>
                    <a href="../../view/products/product2.html">Software System
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product1.html">Laser forklift
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product3.html">Suitable for parcel sorting — mini agv
                    </a>
                </p>
                <!--<p>Suitable for parcel sorting — mini agv</p>-->
                <!--<p>
                    <a href="../../view/products/productcon.html">Public Hardware
                    </a>
                </p>-->
                <p>
                    <a href="../../view/products/product5.html">GRACE
                    </a>
                </p>
            </li>
            <li class="col-md-5 col-xs-12">
                <h6>CONTACT US</h6>
                <p><img src="../../img/adress.png" alt="">Address：66 Dongxin Ave Building 4 Floor 5, Hangzhou, Zhejiang, China 310053</p>
                <p><img src="../../img/tel.png" alt="">Phone：（877）646-2030（Mon-Fri，8AM-5PM）</p>
                <p><img src="../../img/email.png" alt="">E-mail：robot@gzrobot.com</p>
            </li>
            <li class="col-md-4 col-xs-12 foot_bottom_r hidden-xs">
                <h6>RECENT POSTS</h6>
                <p>
                    <a href="../../view/news/newsContent.html">Vecna Robotics Partners with RightHand Robotics
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">Job Destroyers or Helpers? Amazon, FedEx Hiring More Robots & Human
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">FedEx Follows Amazon Into the Robotic Future
                    </a>
                </p>
            </li>
        </ul>
        <div class="content-box-lg foot_message_b">
            <div class="content-box ">
                Copyright © 2018. All rights reserved by Fetch Robotics, Inc. | Privacy Policy
            </div>
        </div>
    </div>

</footer>
</body>
</html>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/header.js"></script>