<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../../css/swiper-4.2.6.min.css">-->
    <link rel="stylesheet" href="../../css/main.css">
    <title>NEWS</title>
</head>
<body class="container-fluid">
<header class="content-box-lg">
    <!--<div class="">-->
    <div class="content-box row">
        <span class="header-logo"><img class="w100" src="../../img/logo.png" alt=""></span>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">HOME</a></li>
                    <!--产品-->
                    <li class="">
                        <a href="../../view/products/product1.html" class="dropdown-toggle">PRODUCT</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/products/product1.html">LASER FORKLIFT</a></li>
                            <li><a href="../../view/products/product2.html">STAR SYSTEM</a></li>
                            <li><a href="../../view/products/product3.html">MINI AGV</a></li>
                            <!--<li><a href="view/products/product5.html">
                                PUBLIC
                                <br>
                                HARDWARE
                            </a></li>-->
                            <li><a href="../../view/products/product5.html">GRACE</a></li>
                        </ul>
                    </li>
                    <!--解决方案-->
                    <li>
                        <a href="../../view/solution/solution.html">SOLUTION</a>
                    </li>
                    <!--服务中心-->
                    <li class=""><a href="../../view/seve/serve.html">SERVICE</a></li>
                    <!--关于我们-->
                    <li class="active">
                        <a href="#" class="dropdown-toggle">ABOUT GUOZI</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/aboutsus/about.html">COMPANY</a></li>
                            <li><a href="../../view/news/newList.html">NEWS</a></li>
                            <li><a href="../../view/contactus/contactUs.html">CONTACT US</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="search-logo"><img class="w100" src="../../img/search.png" alt=""></span>
            </div>
            <span class="search-logo1 visible-xs-block"><img class="w100" src="../../img/search.png" alt=""></span>
            <div id="search_div">
                <div class="search_input">
                    <img class="search_close" src="../../img/close.png" alt="">
                    <form id="myform" action="javascript:void(0)">
                        <input placeholder="search"  type="text">
                    </form>
                    <a href="../../view/search/search.html"><img src="../../img/search.png" alt=""></a>
                    <span class="visible-xs-inline-block search_close">cancel</span>
                </div>
                <div class="search_content"></div>
                <div class="search_bg visible-xs-block"></div>
            </div>
        </nav>
    </div>
    <!--</div>-->
</header>
<!--banner图-->
<div class=" content-box-lg">
    <div class="row bannebox">
        <div class="pro1_bannner"  >
            <a href=""><img src="../../img/new_banner.png" alt=""></a>
        </div>
        <div class="pro_bannertit">
            <!--<p class="tit">LISTEN</p>-->
            <!--<p class="titsm">OUR VOICES</p>-->
            <p class="tit_img"><i></i></p>
        </div>
    </div>
</div>

<div class="content-box index_tit news_list_div">
    <div class="solh_logo">
        <h4>
            NEWS
        </h4>
    </div>
    <ul class="news_list">
        <li >
            <a href="newsContent.html">
                <div class="col-md-4 col-xs-12">
                    <div class="news_lg_img">
                        <img class="img-md-100" src="../../img/new_list1.png" alt="">

                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <time>April 20 , 2018</time>
                    <h5>GUOZI intelligent logistics "Star" team unveiled the US MODEX!</h5>
                    <p>
                        On 9-12 April 2018, MODEX exhibition was held in Atlanta International Convention and Exhibition Center of Atlanta. ModexShow, also known as the Atlanta logistics exhibition, is one of the largest exhibition of logistics manufacturing, distribution and supply chain solutions in the...
                    </p>
                    <span>Read More &blacktriangleright;</span>
                </div>
            </a>
        </li>
    </ul>
    <ol class="news_list_button">
    </ol>
</div>
<footer class="content-box-lg">
    <!--<div class=" row">-->
    <!--<div class="foot_banner">
        <div>
            <img class="w100" src="../../img/footer_banner.png" alt="">
        </div>

        <div class="foot_logos">
            <h6>SHARE & LINK</h6>
            <ul>
                <li>
                    <p><img src="../../img/facebook_logo.png" alt=""></p>
                    Facebook
                </li>
                <li>
                    <p class="foot_border"><img src="../../img/guozi_logo.png" alt=""></p>
                    Chinese network
                </li>
                <li>
                    <p><img src="../../img/ins_logo.png" alt=""></p>
                    Ins
                </li>
            </ul>
        </div>
    </div>-->
    <div class="foot_message content-box-lg">
        <ul class="row content-box">
            <li class="col-md-3 col-xs-12 hidden-xs">
                <h6>PRODUCTS</h6>
                <p>
                    <a href="../../view/products/product2.html">Software System
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product1.html">Laser forklift
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product3.html">Suitable for parcel sorting — mini agv
                    </a>
                </p>
                <!--<p>Suitable for parcel sorting — mini agv</p>-->
                <!--<p>
                    <a href="../../view/products/productcon.html">Public Hardware
                    </a>
                </p>-->
                <p>
                    <a href="../../view/products/product5.html">GRACE
                    </a>
                </p>
            </li>
            <li class="col-md-5 col-xs-12">
                <h6>CONTACT US</h6>
                <p><img src="../../img/adress.png" alt="">Address：66 Dongxin Ave Building 4 Floor 5, Hangzhou, Zhejiang, China 310053</p>
                <p><img src="../../img/tel.png" alt="">Phone：（877）646-2030（Mon-Fri，8AM-5PM）</p>
                <p><img src="../../img/email.png" alt="">E-mail：robot@gzrobot.com</p>
            </li>
            <li class="col-md-4 col-xs-12 foot_bottom_r hidden-xs">
                <h6>RECENT POSTS</h6>
                <p>
                    <a href="../../view/news/newsContent.html">Vecna Robotics Partners with RightHand Robotics
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">Job Destroyers or Helpers? Amazon, FedEx Hiring More Robots & Human
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">FedEx Follows Amazon Into the Robotic Future
                    </a>
                </p>
            </li>
        </ul>
        <div class="content-box-lg foot_message_b">
            <div class="content-box ">
                Copyright © 2018. All rights reserved by Fetch Robotics, Inc. | Privacy Policy
            </div>
        </div>
    </div>

</footer>
</body>
</html>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/header.js"></script>
<script>
    function addList(objContent,objButton){
        var obj={
            arr:[],
            papeSize:10,
            pageIndex:1,
            papeSum:1,
            oButton:'.'+objButton,
            oContent:'.'+objContent,
            init:function(){
                for(var i=0,arr=[];i<157;i++){
                    arr.push(i)
                }
                this.arr=arr
                this.papeSum=Math.ceil(this.arr.length/this.papeSize);
                this.papeLoad();
                var me=this;
                $(this.oButton).click(function(event){
                    var tar=event.target;
                    if(!$(tar).is('span')){
                        return
                    }
                    me.pageIndex=$(tar).html();
                    me.papeLoad();
                })
            },
            papeLoad:function(){
                $(this.oButton).html('');
                $(this.oContent).html('');
                for(var i=1;i<=this.papeSum;i++){
                    $(this.oButton).append('<li class="'+(i==this.pageIndex?'hover':'')+'"><span>'+i+'</span></li>')
                }
                var min=(this.pageIndex-1)*this.papeSize;
                var max=min+10;
                var contentArr=this.arr.slice(min,max);
                for(var j=0;j<contentArr.length;j++){
                    $(this.oContent).append(
                        '<li data-index="'+contentArr[j]+'">\n' +
                        '    <a href="newsContent.html">\n' +
                        '       <div class="col-md-4 col-xs-12">\n' +
                        '           <img class="img-md-100" src="../../img/new_list1.png" alt="">\n' +
                        '       </div>\n' +
                        '       <div class="col-md-8 col-xs-12">\n' +
                        '           <time>April 20 , 2018</time>\n' +
                        '           <h5>GUOZI intelligent logistics "Star" team unveiled the US MODEX!</h5>\n' +
                        '           <p>\n' +
                        '               On 9-12 April 2018, MODEX exhibition was held in Atlanta International Convention and Exhibition Center of Atlanta. ModexShow, also known as the Atlanta logistics exhibition, is one of the largest exhibition of logistics manufacturing, distribution and supply chain solutions in the...\n' +
                        '           </p>\n' +
                        '           <span>Read More &blacktriangleright;</span>\n' +
                        '       </div>\n' +
                        '    </a>\n' +
                        '</li>')
                }
                var me=this;
                $(this.oContent).find('li').click(function(event){
                    event.preventDefault();
                    console.log($(this).attr('data-index'));
                    sessionStorage.setItem('data-index', $(this).attr('data-index'));
                    window.location.href='newsContent.html'
                })
            }
        }
        obj.init()
    }


    //滚动加载事件
    function mAddList(objContent){
        var index=0;
        var min=index*10;
        var max=min+10
        for(var i=0,arr=[];i<157;i++){
            arr.push(i)
        }
        var obj=$('.'+objContent)
        obj.html('')
        $(window).scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if(scrollTop + windowHeight >= scrollHeight-parseInt($('footer').css('height'))){
                i++
                min=index*10;
                max=min+10
                append()
            }
        })
        function append(){
            for(var j=min;j<=max;j++){
                obj.append('<li data-index="'+arr[j]+'">\n' +
                    '    <a href="newsContent.html">\n' +
                    '       <div class="col-md-4 col-xs-12">\n' +
                    '           <img class="img-md-100" src="../../img/new_list1.png" alt="">\n' +
                    '       </div>\n' +
                    '       <div class="col-md-8 col-xs-12">\n' +
                    '           <time>April 20 , 2018</time>\n' +
                    '           <h5>GUOZI intelligent logistics "Star" team unveiled the US MODEX!</h5>\n' +
                    '           <p>\n' +
                    '               On 9-12 April 2018, MODEX exhibition was held in Atlanta International Convention and Exhibition Center of Atlanta. ModexShow, also known as the Atlanta logistics exhibition, is one of the largest exhibition of logistics manufacturing, distribution and supply chain solutions in the...\n' +
                    '           </p>\n' +
                    '           <span>Read More &blacktriangleright;</span>\n' +
                    '       </div>\n' +
                    '    </a>\n' +
                    '</li>')
            }
        }
        append()
    }

    if(window.screen.width>768){
//        addList('news_list','news_list_button')
    }else{
//        mAddList('news_list')
    }

</script>