<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body class="container-fluid" >
<header class="content-box-lg">
    <!--<div class="">-->
    <div class="content-box row">
        <span class="header-logo"><img class="w100" src="../../img/logo.png" alt=""></span>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">HOME</a></li>
                    <!--产品-->
                    <li class="">
                        <a href="../../view/products/product1.html" class="dropdown-toggle">PRODUCT</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/products/product1.html">LASER FORKLIFT</a></li>
                            <li><a href="../../view/products/product2.html">STAR SYSTEM</a></li>
                            <li><a href="../../view/products/product3.html">MINI AGV</a></li>
                            <!--<li><a href="view/products/product5.html">
                                PUBLIC
                                <br>
                                HARDWARE
                            </a></li>-->
                            <li><a href="../../view/products/product5.html">GRACE</a></li>
                        </ul>
                    </li>
                    <!--解决方案-->
                    <li>
                        <a href="../../view/solution/solution.html">SOLUTION</a>
                    </li>
                    <!--服务中心-->
                    <li class="active"><a href="../../view/seve/serve.html">SERVICE</a></li>
                    <!--关于我们-->
                    <li class="">
                        <a href="#" class="dropdown-toggle">ABOUT GUOZI</a>
                        <ul class="dropdown-menu">
                            <li><a href="../../view/aboutsus/about.html">COMPANY</a></li>
                            <li><a href="../../view/news/newList.html">NEWS</a></li>
                            <li><a href="../../view/contactus/contactUs.html">CONTACT US</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="search-logo"><img class="w100" src="../../img/search.png" alt=""></span>
            </div>
            <span class="search-logo1 visible-xs-block"><img class="w100" src="../../img/search.png" alt=""></span>
            <div id="search_div">
                <div class="search_input">
                    <img class="search_close" src="../../img/close.png" alt="">
                    <form id="myform" action="javascript:void(0)">
                        <input placeholder="search"  type="text">
                    </form>
                    <a href="../../view/search/search.html"><img src="../../img/search.png" alt=""></a>
                    <span class="visible-xs-inline-block search_close">cancel</span>
                </div>
                <div class="search_content"></div>
                <div class="search_bg visible-xs-block"></div>
            </div>
        </nav>
    </div>
    <!--</div>-->
</header>
<!--轮播图-->
<div class="content-box-lg">
    <div class="row bannebox">
        <div class="pro1_bannner"  >
            <a href=""><img src="../../img/serve_banner.png" alt=""></a>
        </div>
        <div class="pro_bannertit">
            <!--<p class="tit">GUOZI</p>-->
            <!--<p class="titsm">SINCERELY  SERVE  YOU</p>-->
            <p class="tit_img"><i></i></p>
        </div>
    </div>
</div>

<div class="content-box-lg row">
    <div class="serve_con">
        <img src="../../img/prony_logo.png" alt="">
        <!--<p class="serve_tit">GUOZI</p>-->
        <p class="serve_tit1">SERVICE SUPPORT</p>
        <hr width="30%" size="5">
        <p class="serve_tit2">HOTLINE SERVICE :（877）646-2030，7×24h</p>
        <p class="serve_tit3">We have rich experience in global implementation and technical expertise network to <br>provide you with efficient and professional technical support services.</p>
    </div>
</div>
<!--下拉列表-->
<div class="content-box row xiala_box">
    <div class="xiala_con">
        <div class="xiala_tit">FAQ</div>
        <div class="xiala_item">
            <ul>
                <li class="col-lg-12 col-md-12">
                    <a href="javascript:void(0)">How easy is it to set up Fetch Robotics robots and manage them?</a>
                    <div class="serve_itemlist">
                        <img src="../../img/serve_detail.png" alt="">
                        <img src="../../img/serve_detail1.png" alt="">
                        <div class="serve_itemlistcon">
                            <p>Setup involves four steps:<br>
                                ① Unpack robot and connect to Wi-Fi.<br>
                                ② Map your facility and localize your robot.<br>
                                ③ Annotate your maps, create destinations.<br>
                                ④ Create and schedule workflows.<br>
                                Mapping is easily accomplished by walking your Fetch robot through your facility with the included controller.  Once this is complete, the next step is
                                creating keep-out areas, speed zones, preferred paths, and destinations for the robots.  Next, you assign your robots to your map and set up and
                                schedule workflows.  The interface is intuitive and most operations are point-and-click.  You can complete the entire process in just a few hours.</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-12 col-md-12">
                    <a href="javascript:void(0)">What are the Orca tools?</a>
                    <div class="serve_itemlist">
                        <img src="../../img/serve_detail.png" alt="">
                        <img src="../../img/serve_detail1.png" alt="">
                        <div class="serve_itemlistcon">
                            <p>Setup involves four steps:<br>
                                ① Unpack robot and connect to Wi-Fi.<br>
                                ② Map your facility and localize your robot.<br>
                                ③ Annotate your maps, create destinations.<br>
                                ④ Create and schedule workflows.<br>
                                Mapping is easily accomplished by walking your Fetch robot through your facility with the included controller.  Once this is complete, the next step is
                                creating keep-out areas, speed zones, preferred paths, and destinations for the robots.  Next, you assign your robots to your map and set up and
                                schedule workflows.  The interface is intuitive and most operations are point-and-click.  You can complete the entire process in just a few hours.</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-12 col-md-12">
                    <a href="javascript:void(0)">How large of a facility can you map?</a>
                    <div class="serve_itemlist">
                        <img src="../../img/serve_detail.png" alt="">
                        <img src="../../img/serve_detail1.png" alt="">
                        <div class="serve_itemlistcon">
                            <p>Setup involves four steps:<br>
                                ① Unpack robot and connect to Wi-Fi.<br>
                                ② Map your facility and localize your robot.<br>
                                ③ Annotate your maps, create destinations.<br>
                                ④ Create and schedule workflows.<br>
                                Mapping is easily accomplished by walking your Fetch robot through your facility with the included controller.  Once this is complete, the next step is
                                creating keep-out areas, speed zones, preferred paths, and destinations for the robots.  Next, you assign your robots to your map and set up and
                                schedule workflows.  The interface is intuitive and most operations are point-and-click.  You can complete the entire process in just a few hours.</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-12 col-md-12">
                    <a href="javascript:void(0)">How do Fetch robotics robots see?</a>
                    <div class="serve_itemlist">
                        <img src="../../img/serve_detail.png" alt="">
                        <img src="../../img/serve_detail1.png" alt="">
                        <div class="serve_itemlistcon">
                            <p>Setup involves four steps:<br>
                                ① Unpack robot and connect to Wi-Fi.<br>
                                ② Map your facility and localize your robot.<br>
                                ③ Annotate your maps, create destinations.<br>
                                ④ Create and schedule workflows.<br>
                                Mapping is easily accomplished by walking your Fetch robot through your facility with the included controller.  Once this is complete, the next step is
                                creating keep-out areas, speed zones, preferred paths, and destinations for the robots.  Next, you assign your robots to your map and set up and
                                schedule workflows.  The interface is intuitive and most operations are point-and-click.  You can complete the entire process in just a few hours.</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-12 col-md-12">
                    <a href="javascript:void(0)">How fast do Fetch Robotics robots travel?</a>
                    <div class="serve_itemlist">
                        <img src="../../img/serve_detail.png" alt="">
                        <img src="../../img/serve_detail1.png" alt="">
                        <div class="serve_itemlistcon">
                            <p>Setup involves four steps:<br>
                                ① Unpack robot and connect to Wi-Fi.<br>
                                ② Map your facility and localize your robot.<br>
                                ③ Annotate your maps, create destinations.<br>
                                ④ Create and schedule workflows.<br>
                                Mapping is easily accomplished by walking your Fetch robot through your facility with the included controller.  Once this is complete, the next step is
                                creating keep-out areas, speed zones, preferred paths, and destinations for the robots.  Next, you assign your robots to your map and set up and
                                schedule workflows.  The interface is intuitive and most operations are point-and-click.  You can complete the entire process in just a few hours.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="content-box-lg">
    <!--<div class=" row">-->
    <!--<div class="foot_banner">
        <img class="w100" src="../../img/footer_banner.png" alt="">
        <div class="foot_logos">
            <h6>SHARE & LINK</h6>
            <ul>
                <li>
                    <p><img src="../../img/facebook_logo.png" alt=""></p>
                    Facebook
                </li>
                <li>
                    <p class="foot_border"><img src="../../img/guozi_logo.png" alt=""></p>
                    Chinese network
                </li>
                <li>
                    <p><img src="../../img/ins_logo.png" alt=""></p>
                    Ins
                </li>
            </ul>
        </div>
    </div>-->
    <div class="foot_message content-box-lg">
        <ul class="row content-box">
            <li class="col-md-3 col-xs-12 hidden-xs">
                <h6>PRODUCTS</h6>
                <p>
                    <a href="../../view/products/product2.html">Software System
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product1.html">Laser forklift
                    </a>
                </p>
                <p>
                    <a href="../../view/products/product3.html">Suitable for parcel sorting — mini agv
                    </a>
                </p>
                <!--<p>Suitable for parcel sorting — mini agv</p>-->
                <!--<p>
                    <a href="../../view/products/productcon.html">Public Hardware
                    </a>
                </p>-->
                <p>
                    <a href="../../view/products/product5.html">GRACE
                    </a>
                </p>
            </li>
            <li class="col-md-5 col-xs-12">
                <h6>CONTACT US</h6>
                <p><img src="../../img/adress.png" alt="">Address：66 Dongxin Ave Building 4 Floor 5, Hangzhou, Zhejiang, China 310053</p>
                <p><img src="../../img/tel.png" alt="">Phone：（877）646-2030（Mon-Fri，8AM-5PM）</p>
                <p><img src="../../img/email.png" alt="">E-mail：robot@gzrobot.com</p>
            </li>
            <li class="col-md-4 col-xs-12 foot_bottom_r hidden-xs">
                <h6>RECENT POSTS</h6>
                <p>
                    <a href="../../view/news/newsContent.html">Vecna Robotics Partners with RightHand Robotics
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">Job Destroyers or Helpers? Amazon, FedEx Hiring More Robots & Human
                    </a>
                </p>
                <p>
                    <a href="../../view/news/newsContent.html">FedEx Follows Amazon Into the Robotic Future
                    </a>
                </p>
            </li>
        </ul>
        <div class="content-box-lg foot_message_b">
            <div class="content-box ">
                Copyright © 2018. All rights reserved by Fetch Robotics, Inc. | Privacy Policy
            </div>
        </div>
    </div>

</footer>
</body>
</html>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/header.js"></script>

<script>
    $('.xiala_item li a').click(function(){
        if($(this).parent().is('.hover')){
            $('.xiala_item li.hover').removeClass('hover').children('div').slideUp("slow")
        }else{
            $('.xiala_item li.hover').removeClass('hover').children('div').slideUp("slow")
            $(this).parent().addClass('hover').children('div').slideDown("slow")
        }

    })
</script>